.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.photos img{
    width: 100%;
}

@media (width <= 700px){
    .photos{
        grid-template-columns: 1fr 1fr;
    }
}
@media (width <= 500px){
    .photos{
        grid-template-columns: 1fr;
    }
}

main{
    min-height: 60vh;
}