button.active{
    background-color: black !important;
    color: white !important;
    border: 0 !important;
}
#button-logout{
    color: red !important;
}
.button-details:hover{
    cursor: pointer;
}