/* banner z reklama */
.banner{
    position: relative;
    background-color: black;
}
.banner::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/graphics/banner.png");
    background-position: top;
    filter: blur(5px);
    z-index: 0;
}
.banner > img{
    z-index: 1;
}
@media (min-width: 1400px){
    .banner > img{
        width: 1400px !important;
    }
}
@media (max-width: 576px){
    .banner::before{
        background-image: url("../assets/graphics/banner_small.png");
    }
}

.more-btn{
    text-decoration: none;
    color: black;
}
.more-btn:hover{
    background-color: black;
    color: white;
}