.form-container > form{
    background-color: rgb(240, 240, 240);
}
.form-container a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.form-container a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.form-container .form-check-input{
    border: 1px solid black;
}

.form-control{
    border-radius: 0 !important;
    border: 1px solid black !important;
}
.form-control:active,
.form-control:focus{
    outline: 2px solid gray !important;
}
.btn-primary{
    border-radius: 0 !important;
    outline: 0;
    border: 0;
    padding: .4rem 1.3rem;
    background-color: black !important;
}
.btn-primary:hover{
    outline: 2px solid black;
}
.btn-primary:active, .btn-primary:focus{
    background-color: rgb(50, 50, 50) !important;
}

#login-callback, #register-callback{
    text-align: right;
    color: darkred;
}

main{
    min-height: 60vh;
}