#order-content-container{
    background-color: rgb(230, 230, 230);
}

@media (width <= 500px){
    #order-content-container > div > div:first-child{
        width: 100%;
    }
}


main{
    min-height: 60vh;
}