.product-photos{
    box-shadow: 0 0 20px rgb(160, 160, 160);
    background-color: rgb(240, 240, 240);
}
.product-photos .col-12{
    padding: 4rem;
}
.product-photos .col-3{
    padding: 1rem;
}
.product-photos .col-3:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
}

.product-title{
    font-weight: 900;
}
.product-description{
    color: black;
}
.product-sizechart table{
    min-width: 60%;
}
.product-sizechart td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.product-sizechart td:first-child{
    width: 35%;
    text-align: left;
}

.product-size button{
    background-color: black;
    border-radius: 0;
    padding: 10px 20px;
    outline: 0;
    border: 0;
}
.product-size button:hover,
.product-size button:active,
.product-size button:active:focus{
    background-color: rgb(70, 70, 70);
}
.product-size input[name="size-select"]{
    display: none;
}
.product-size input[name="size-select"]:checked~.p-size{
    background-color: black;
    color: white;
}
.product-size fieldset[disabled] .p-size{
    border: 0;
}
.product-size fieldset[disabled] .p-size:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(220,220,220,.7);
}
.p-size{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 700;
    color: black;
    text-decoration: none;
    position: relative;
}
@media (width<=576px){
    .p-size{
        width: 30px;
        height: 30px;
    }
    .product-sizechart table{
        min-width: 100%;
    }
}

.p-size:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.related-title div{
    background-color: black;
    color: white;
}

main{
    min-height: 60vh;
}