/*------------------*/
/* STYLE FOR HEADER */
/*------------------*/
/* icons size */
@media (min-width: 768px){
    header object[name="brand-icon"]{
        height: 100px;
    }
}

header .dropdown-item:active{
        text-decoration: underline;
        background-color: white !important;
        color: black !important;
        text-decoration: underline;
    }

/* underline animation */
@media (width >= 992px){
    .m-underline-onhover{
        position: relative;
    }
    .m-underline-onhover::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: black;
        transition: width .3s;
    }
    .m-underline-onhover:hover::before{
        width: 100%;
    }
}

/* navbar for small screens  */
@media (max-width: 992px){
    header .navbar-toggler,
    header .navbar-toggler:active,
    header .navbar-toggler:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
    header .nav-link:active{
        text-decoration: underline;
    }
}


/*------------------*/
/* STYLE FOR FOOTER */
/*------------------*/
@media (min-width: 768px){
    footer object[data="assets/graphics/logo2.svg"]{
        height: 100px;
    }
}
footer{
    background-color: black;
}


/*------------------*/
/* OWN CLASSES FOR GLOBAL USE */
/*------------------*/
.m-b-800{
    font-weight: 800;
}
.m-b-700{
    font-weight: 700;
}
.m-b-400{
    font-weight: 400;
}
.m-b-500{
    font-weight: 500;
}
.m-text-underline{
    text-decoration: underline;
}

/* not click highlight */
.m-no-click-highlight:active{
    background-color: unset !important;
    color: unset !important;
}
.m-hr{
    height: 2px;
    background-color: black;
}
.m-infobox{
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    transition: bottom .4s;
    display: none;
    text-transform: uppercase;
    z-index: 2;
}
.m-infobox > div{
    min-width: 50%;
    background-color: rgb(119, 18, 18);
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    text-align: center;
}


/* kafelki z produktami */
.m-product-tile-img-cont{
    height: 300px;
    background-color: rgb(240, 240, 240);
}
.m-product-tile-img-cont img{
    height: 100%;
}
.m-product-tile-img-cont img:nth-child(2),
.m-product-tile-img-cont:hover img:nth-child(1){
    display: none;
}
.m-product-tile-img-cont:hover img:nth-child(2){
    display: block;
}
@media (width <= 1400px){
    .m-product-tile-img-cont{
        height: 250px;
    }
}
@media (width <= 1200px){
    .m-product-tile-img-cont{
        height: 220px;
    }
}

/* form style */
.form-control{
    border: 1px solid black !important;
}

.header-cart-icon{
    position: relative;
}
.header-cart-size-preview{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
@media (width <= 992px){
    .header-cart-size-preview{
        right: -10px;
        bottom: -10px;
    }
}

/* newsletter */
.newsletter-header{
    font-weight: 600;
    letter-spacing: 3px;
}
#newsletter-callback{
    color: darkred;
}

/* horizontal line */
.m-horizontal-line{
    height: 3px;
    background-color: black;
}

#adminTopBar{
    background-color: darkred;
}