@section("title")
H.R.M.X Admin / Home
@endsection

@section("styles")
<link rel="stylesheet" href="/css/admin/index.css">
@endsection

@section("scripts")
<script src="/js/admin/index.js"></script>
<script src="/js/infobox.js"></script>
@endsection

@section("content")
<div class="fw-bold fs-4 mb-2">Home page</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="bg-light rounded border py-1 px-2">
            <div class="fs-5 mb-2">Banner</div>
            <img src="/assets/graphics/banner.png" alt="Banner" class="w-100 rounded">
            <div class="py-2">
                <input type="file" id="input-banner" class="form-control form-control-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-light rounded border py-1 px-2">
            <div class="fs-5 mb-2">Banner for small screens</div>
            <img src="/assets/graphics/banner_small.png" alt="Banner small" class="w-100 rounded">
            <div class="py-2">
                <input type="file" id="input-banner-small" class="form-control form-control-sm">
            </div>
        </div>
    </div>
</div>
<div class="fw-bold fs-4 mb-2">Configuration</div>
<table class="table table-bordered">
    <thead>
        <th>Name</th><th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>Shipping price</td>
            <td>
                <form class="form-update-config">
                    <input type="text" class="visually-hidden input-configuration-id" value="shipping_price">
                    <div class="d-flex column-gap-1">
                        <input class="form-control input-configuration-value" id="input-shipping_price" type="number" min="0.01" step="0.01" required>
                        <button type="submit" class="btn btn-sm btn-success">Update</button>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
@endsection