@section("title")
H.R.M.X Admin / Product
@endsection

@section("scripts")
<script src="/js/admin/product.js"></script>
<script src="/js/infobox.js"></script>
<script src="https://cdn.tiny.cloud/1/oizg6bmdnjk7fg4wthj19y7p0ez74xodwh4mc6d7vpi1qoxt/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
@endsection

@section("content")
<div class="fw-bold fs-3 mb-3">Product editor</div>
<div class="row">
    <div class="col-md-8">
        <div class="mb-1 text-decoration-underline">Photos</div>
        <div class="bg-light border">
            <input type="file" class="visually-hidden" id="input-file">
            <div class="row g-3" id="photos-list">
                <!-- photos -->
            </div>
        </div>
    </div>
    <div class="col-xxl-5">
        <div class="text-decoration-underline mt-3 mb-2">Information</div>
        <form class="border bg-light py-2 px-3" id="form-info">
            <div class="mb-1 row">
                <label for="input-name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" minlength="3" maxlength="32" id="input-name" required>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="input-category" class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                    <select id="input-category" class="form-control" required>
                        <!-- -->
                    </select>
                    <div class="form-text"><a href="/admin/categories">Manage categories</a></div>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="input-price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="input-price" required min="0.01" step="0.01">
                </div>
            </div>
            <div class="mb-2">
                <input type="checkbox" class="form-check-input me-1" id="input-visible">
                <label for="input-visible" class="form-check-label">Public</label>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark btn-sm">Save</button>
            </div>
        </form>
    </div>
    <div class="col-xxl-7">
        <div class="mt-3 mb-2 text-decoration-underline">Description</div>
        <form class="border bg-light py-2 px-3" id="form-desc">
            <textarea id="desc-editor" name="content"></textarea>
            <div class="d-flex justify-content-end py-2">
                <button type="submit" class="btn btn-dark btn-sm">Save</button>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="mt-3 mb-2 text-decoration-underline">Variants</div>
        <div class="py-2 px-3 bg-light border">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Variant</th><th>Quantity</th><th></th>
                    </tr>
                </thead>
                <tbody id="tbody-variants">

                </tbody>
            </table>
            <div class="d-flex justify-content-end py-2">
                <button type="button" class="btn btn-dark btn-sm">Add</button>
            </div>
        </div>
    </div>
</div>
@endsection