@section("title")
H.R.M.X Admin / Product
@endsection

@section("scripts")
<script src="/js/admin/product.js"></script>
<script src="/js/infobox.js"></script>
@endsection

@section("content")
<div class="row">
    <div class="col-md-6">
        <div class="mb-2 bg-light border">
            <div class="row g-3" id="photos-list">
                <!-- photos -->
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success btn-sm">Save</button>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            
        </div>
    </div>
</div>
@endsection