@section("title")
Cart
@endsection

@section("styles")
<link rel="stylesheet" href="/css/cart.css">
@endsection

@section("scripts")
<script src="/js/cart.js"></script>
<script src="/js/loadCartSize.js"></script>
<script src="/js/infobox.js"></script>
@endsection

@section("content")
<main class="container-xxl pe-4 ps-4 pe-xxl-0 ps-xxl-0 mb-5 pb-5 mt-5">
    <div class="row">
        <div class="col-12 col-md-11 col-lg-7 col-xxl-6 mb-3 mb-lg-0" id="prods-in-cart-container">
            <!-- data from cart -->
        </div>
        <div class="col-1 d-none d-xxl-block"></div>
        <div class="col-12 col-lg-5">
            <div class="mb-3" id="user-stage">
                <div class="fs-5 m-b-700 mb-2">PERSONAL INFO</div>
                <div class="row gx-3 mb-2">
                    <div class="col-6"><input type="text" class="form-control form-control-sm" placeholder="FIRSTNAME" id="input-fname"></div>
                    <div class="col-6"><input type="text" class="form-control form-control-sm" placeholder="LASTNAME" id="input-lname"></div>
                </div>
                <div class="row gx-3 mb-4">
                    <div class="col-7"><input type="email" class="form-control form-control-sm" placeholder="EMAIL" id="input-email"></div>
                    <div class="col-5"><input type="tel" class="form-control form-control-sm" placeholder="PHONE" id="input-tel"></div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-dark rounded-0" id="btn-set-personal-info">Next</button>
                    <a href="/login" class="link-dark link-underline-dark d-block">Log in or register.</a>
                </div>
            </div>
            <div class="row d-none" id="shipment-stage">
                <div class="col-12">
                    <div class="fs-5 m-b-700 mb-2">SHIPMENT</div>
                    <div class="row gx-3 mb-2">
                        <div class="col-6"><input type="text" class="form-control form-control-sm" placeholder="POST CODE" id="input-postcode"></div>
                        <div class="col-6"><input type="text" class="form-control form-control-sm" placeholder="CITY" id="input-city"></div>
                    </div>
                    <div class="row gx-3 mb-2">
                        <div class="col-8"><input type="text" class="form-control form-control-sm" placeholder="ADDRESS" id="input-address"></div>
                        <div class="col-4"><input type="text" class="form-control form-control-sm" placeholder="BUILDING" id="input-building"></div>
                    </div>
                    <div class="row gx-3 mb-4">
                        <div class="col-12"><input type="text" class="form-control form-control-sm" placeholder="COUNTRY" id="input-country"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="fs-5 m-b-700 mb-2">PAYMENT METHOD</div>
                    <div class="d-flex column-gap-2 payment-way mb-4">
                        <label>
                            <input type="radio" name="payment-method-radio" class="d-none" value="CASH" checked>
                            <img src="/assets/icons/cash.png" class="d-block p-3">
                        </label>
                        <label>
                            <input type="radio" name="payment-method-radio" class="d-none" value="PAYU">
                            <object style="pointer-events: none !important;" data="/assets/icons/payu.svg" type="image/svg+xml" class="d-block p-3"></object>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="fs-5 m-b-700 mb-2">SUMMARY</div>
                    <div class="row">
                        <div class="col-6">Products value:</div><div class="col-6" id="cart-products">---</div>
                        <div class="col-6">Shipment:</div><div class="col-6" id="cart-shipment">---</div>
                        <div class="col-6 mb-3">Total price:</div><div class="col-6" id="cart-total">---</div>
                        <div class="col-12"><button class="btn btn-primary pe-4 ps-4" id="take-order-button">PURCHASE</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="container-xxl pe-3 ps-3 pe-sm-5 ps-sm-5 pe-xxl-0 ps-xxl-0 mb-5">
    <div>Estimated delivery date: <span id="estimated-ship-date">-</span></div>
    <div>After payment the order confirmation will be sent to Your email attributed to Your account.</div>
</div>
@endsection