@section("title")
H.R.M.X
@endsection

@section("styles")
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
@endsection

@section("scripts")
<script src="/js/index.js"></script>
<script src="/js/loadProductTiles.js"></script>
<script src="/js/loadCartSize.js"></script>
<script src="/js/infobox.js"></script>
@endsection

@section("content")
<a href="/products" class="banner container-fluid d-flex justify-content-center mb-4 mb-sm-5 p-0">
    <img class="d-none d-sm-block w-100" src="/assets/graphics/banner.png" alt="banner with ad">
    <img class="d-sm-none w-100" src="/assets/graphics/banner_small.png" alt="banner with ad">
</a>
<main class="container-xxl mb-5 pe-xxl-0 ps-xxl-0 pe-4 ps-4">
    <div class="row" id="m-product-tile-container">
        <!-- inserted from database -->
    </div>
</main>
<a class="d-block text-center py-2 border-top border-3 border-black fs-5 more-btn" href="/products">See more</a>
@endsection