<a href="allproducts_page.php?collection=1" class="banner container-fluid d-flex justify-content-center mb-4 mb-sm-5 p-0">
    <img class="d-none d-sm-block w-100" src="/assets/graphics/banner.png" alt="banner with ad">
    <img class="d-sm-none w-100" src="/assets/graphics/banner_small.png" alt="banner with ad">
</a>
<main class="container-xxl mb-5 pe-xxl-0 ps-xxl-0 pe-4 ps-4">
    <div class="row" id="m-product-tile-container">
        <!-- inserted from database -->
    </div>
</main>
<div class="hr mb-5 pb-3 pt-3"><div></div><a href="allproducts_page.php"><img src="/assets/graphics/seemore.png" alt="See more"></a></div>
<div class="container-xxl mb-5 pb-5 pt-5 ps-4 pe-4 ps-xxl-0 pe-xxl-0">
    <div class="row gy-3 gx-5">
        <div class="col-12 fs-1 newsletter-header">NEWSLETTER</div>
        <div class="col-12 col-md-6 col-lg-4">Receive notifications about new arrivals, discounts and changes earlier than others!</div>
        <div class="col-12 col-md-6 col-lg-8">
            <form>
                <input type="text" class="form-control mb-2" placeholder="Enter your email." id="newsletter-input-mail">
                <div class="btn btn-primary" id="newsletter-button">Sign up</div>
                <div class="mt-3" id="newsletter-callback"></div>
            </form>
        </div>
    </div>
</div>