<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @showsection("title")
    </title>
    <link rel="shortcut icon" href="/assets/graphics/logo1.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/frameworks/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frameworks/bootstrap-5.3.8-dist/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    @showsection("styles")
    <script src="/frameworks/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/frameworks/jquery-3.7.1.min.js"></script>
    @showsection("scripts")
</head>
<body>
    @extension("admin_top_bar")
    <header class="navbar navbar-expand-lg bg-white">
        <div class="container-xxl pe-4 ps-4 pe-xxl-0 ps-xxl-0 pb-5 pt-4">
            <a class="navbar-brand" href="/">
                <object style="pointer-events: none;" data="/assets/graphics/logo1.svg" type="image/svg+xml" name="brand-icon"></object>
            </a>
            <div class="d-flex align-items-center">
                <a href="/cart" class="d-lg-none header-cart-icon me-1">
                    <div class="header-cart-size-preview"></div>
                    <i class="bi bi-bag fs-1 text-black" name="shopping-bag-icon"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target=".offcanvas">
                    <span class="navbar-toggler-icon fs-3"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1">
                <div class="offcanvas-header p-4 p-lg-0">
                    <h5 class="offcanvas-title"><object data="/assets/graphics/logo1.svg" type="image/svg+xml"></object></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-end p-4 p-lg-0">
                    <ul class="navbar-nav align-items-lg-center column-gap-2">
                        <li class="nav-item"><a href="/products" class="nav-link text-black m-underline-onhover">PRODUCTS</a></li>
                        <li class="nav-item"><a href="/about" class="nav-link text-black m-underline-onhover">ABOUT US</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link text-black m-underline-onhover">CONTACT</a></li>
                        <li class="nav-item"><a href="/account" class="nav-link text-black m-underline-onhover me-lg-3">ACCOUNT</a></li>
                        <li class="nav-item d-none d-lg-block">
                            <a href="/cart" class="nav-link active header-cart-icon">
                                <div class="header-cart-size-preview"></div>
                                <i class="bi bi-bag fs-2 text-black" name="shopping-bag-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @showsection("content")
    <div class="m-horizontal-line"></div>
    <div class="container-xxl my-4 py-5 ps-4 pe-4 ps-xxl-0 pe-xxl-0">
        <div class="row gy-3 gx-5">
            <div class="col-12 fs-1 fw-bold">ARTICLES</div>
            <div class="col-12 col-md-6 col-lg-4">
                Stay updated with our latest articles, insights, guides, and expert tips. 
                Discover fresh content that inspires!
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <div class="d-flex flex-column flex-sm-row justify-content-md-center align-items-start align-items-sm-center gap-3">
                    <a href="/articles" class="btn btn-dark">Read Articles</a>
                    <div class="text-muted">Explore new posts and trending topics.</div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-xxl ps-4 pe-4 pe-xxl-0 ps-xxl-0 pt-5 pb-5">
            <div class="row gy-4">
                <div class="order-1 col-6 col-sm-4 col-md-5 col-lg-6"><object data="/assets/graphics/logo2.svg" type="image/svg+xml"></object></div>
                <div class="order-3 order-sm-2 col-12 col-sm-4 col-md-2 d-sm-flex justify-content-sm-center align-items-sm-center">
                    <a href=""><img src="/assets/icons/icons8-facebook-48.png" alt="FB"></a>
                    <a href=""><img src="/assets/icons/icons8-instagram-48.png" alt="IG"></a>
                </div>
                <div class="order-2 order-sm-3 col-6 col-sm-4 col-md-5 col-lg-4 d-flex align-items-center justify-content-center">
                    <div class="row gy-3 footer-links">
                        <div class="col-6 d-flex justify-content-end"><a href="/article/2" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Shipping</a></div>
                        <div class="col-6 d-flex justify-content-end"><a href="/article/3" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">FAQ</a></div>
                        <div class="col-6 d-flex justify-content-end"><a href="/article/5" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms</a></div>
                        <div class="col-6 d-flex justify-content-end"><a href="/article/4" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Returns</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>