<div class="title container-xxl pt-5 pb-2 mb-5 ps-4 pe-4 ps-xxl-0 pe-xxl-0 fs-4">
    <div>ALL OF OUR CLOTHES ARE LIMITED!</div>
    <div><div>#RESTOCKFREE</div></div>
</div>
<div class="filter-bar mb-5">
    <div class="container-xxl ps-4 pe-4 ps-xxl-0 pe-xxl-0 fs-5">
        <div class="navbar navbar-expand-md m-0 p-0">
            <button class="navbar-toggler mt-3 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filter-navbar">
                <img src="/assets/icons/filter.png" alt="Filters icon">
                <span class="ms-3 p-1">Filters</span>
            </button>
            <div class="navbar-collapse collapse" id="filter-navbar">
                <ul class="navbar-nav mt-2 mb-4 m-md-0">
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown">Category</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend>Select category.</legend>
                                        <div class="form-check">
                                            <input class="form-check-input filter-checkbox" type="checkbox" id="filter-category-tops">
                                            <label class="form-check-label" for="filter-category-tops">TOPS</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input filter-checkbox" type="checkbox" id="filter-category-pants">
                                            <label class="form-check-label" for="filter-category-pants">PANTS</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input filter-checkbox" type="checkbox" id="filter-category-footwear">
                                            <label class="form-check-label" for="filter-category-footwear">FOOTWEAR</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input filter-checkbox" type="checkbox" id="filter-category-accessories">
                                            <label class="form-check-label" for="filter-category-accessories">ACCESSORIES</label>
                                        </div>
                                        <div class="d-flex justify-content-end mt-3 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown">Size</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend>Select prefered size.</legend>
                                        <div class="form-text mb-1">TOPS</div>
                                        <div class="filter-size-grid mb-1">
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-tops_size-s"><label class="form-check-label" for="filter-tops_size-s">S</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-tops_size-m"><label class="form-check-label" for="filter-tops_size-m">M</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-tops_size-l"><label class="form-check-label" for="filter-tops_size-l">L</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-tops_size-xl"><label class="form-check-label" for="filter-tops_size-xl">XL</label></div>
                                        </div>
                                        <div class="form-text mb-1">PANTS</div>
                                        <div class="filter-size-grid mb-1">
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-pants_size-s"><label class="form-check-label" for="filter-pants_size-s">S</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-pants_size-m"><label class="form-check-label" for="filter-pants_size-m">M</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-pants_size-l"><label class="form-check-label" for="filter-pants_size-l">L</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-pants_size-xl"><label class="form-check-label" for="filter-pants_size-xl">XL</label></div>
                                        </div>
                                        <div class="form-text mb-1">FOOTWEAR</div>
                                        <div class="filter-size-grid">
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-40"><label class="form-check-label" for="filter-footwear_size-40">40</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-41"><label class="form-check-label" for="filter-footwear_size-41">41</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-42"><label class="form-check-label" for="filter-footwear_size-42">42</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-43"><label class="form-check-label" for="filter-footwear_size-43">43</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-44"><label class="form-check-label" for="filter-footwear_size-44">44</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-45"><label class="form-check-label" for="filter-footwear_size-45">45</label></div>
                                            <div class="form-check"><input class="form-check-input filter-checkbox" type="checkbox" id="filter-footwear_size-46"><label class="form-check-label" for="filter-footwear_size-46">46</label></div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-5 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown">Price</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend class="mb-3">Type prefered price.</legend>
                                        <div class="filter-price-grid mb-2">
                                            <label for="filter-price-from">FROM</label>
                                            <input class="form-control form-control-sm filter-number" id="filter-price-from" type="number">
                                        </div>
                                        <div class="filter-price-grid">
                                            <label for="filter-price-to">TO</label>
                                            <input class="form-control form-control-sm filter-number" id="filter-price-to" type="number">
                                        </div>
                                        <div class="d-flex justify-content-end mt-3 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl mb-5 pe-xxl-0 ps-xxl-0 pe-4 ps-4">
    <div class="row" id="m-product-tile-container">
        <!-- inserted from database -->
    </div>
</div>