@section("title")
View products
@endsection

@section("styles")
<link rel="stylesheet" href="/css/products.css">
@endsection

@section("scripts")
<script src="/js/products.js"></script>
<script src="/js/loadProductTiles.js"></script>
<script src="/js/loadCartSize.js"></script>
<script src="/js/infobox.js"></script>
@endsection

@section("content")
<div class="title container-xxl pt-5 pb-2 mb-5 ps-4 pe-4 ps-xxl-0 pe-xxl-0 fs-4">
    <div>ALL OF OUR CLOTHES ARE LIMITED!</div>
    <div><div>#RESTOCKFREE</div></div>
</div>
<div class="filter-bar mb-5">
    <div class="container-xxl ps-4 pe-4 ps-xxl-0 pe-xxl-0 fs-5">
        <div class="navbar navbar-expand-md m-0 p-0">
            <button class="navbar-toggler mt-3 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filter-navbar">
                <img src="/assets/icons/filter.png" alt="Filters icon">
                <span class="ms-3 p-1">Filters</span>
            </button>
            <div class="navbar-collapse collapse" id="filter-navbar">
                <ul class="navbar-nav mt-2 mb-4 m-md-0">
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown" data-bs-auto-close="outside">Category</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend>Select category.</legend>
                                        <div id="filter-category-container">

                                        </div>
                                        <div class="d-flex justify-content-end mt-3 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown" data-bs-auto-close="outside">Size</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend>Select prefered size.</legend>
                                        <div class="filter-size-grid mb-1">
                                            
                                        </div>
                                        <div class="d-flex justify-content-end mt-3 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle pt-3 pb-3 pe-md-4 ps-md-4" data-bs-toggle="dropdown" data-bs-auto-close="outside">Price</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form>
                                    <fieldset>
                                        <legend class="mb-3">Type prefered price.</legend>
                                        <div class="filter-price-grid mb-2">
                                            <label for="filter-price-from">FROM</label>
                                            <input class="form-control form-control-sm filter-number" id="filter-price-from" type="number" step="1">
                                        </div>
                                        <div class="filter-price-grid">
                                            <label for="filter-price-to">TO</label>
                                            <input class="form-control form-control-sm filter-number" id="filter-price-to" type="number" step="1">
                                        </div>
                                        <div class="d-flex justify-content-end mt-3 filter-submit"><div class="btn btn-primary">Apply</div></div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl mb-4 pe-xxl-0 ps-xxl-0 pe-4 ps-4">
    <div class="row mb-5 gy-3" id="m-product-tile-container">
        <!-- inserted from database -->
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" id="page-link-left"><span>&laquo;</span></a>
            </li>
            <div class="d-flex" id="page-link-container">

            </div>
            <li class="page-item">
                <a class="page-link" id="page-link-right"><span>&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>
@endsection